In [3]:
!pip install pandas pyodbc

Requirement already satisfied: pandas in /usr/local/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: pyodbc in /usr/local/lib/python3.11/site-packages (5.0.1)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
!pip install pyodbc sqlalchemy

Requirement already satisfied: pyodbc in /usr/local/lib/python3.11/site-packages (5.0.1)
Collecting sqlalchemy
  Obtaining dependency information for sqlalchemy from https://files.pythonhosted.org/packages/5a/a6/95f984d3cfe22e0e8a71458468ad362a8869be7ec434d78adf4347602d5c/SQLAlchemy-2.0.22-cp311-cp311-macosx_10_9_x86_64.whl.metadata
  Downloading SQLAlchemy-2.0.22-cp311-cp311-macosx_10_9_x86_64.whl.metadata (9.4 kB)
Collecting typing-extensions>=4.2.0 (from sqlalchemy)
  Obtaining dependency information for typing-extensions>=4.2.0 from https://files.pythonhosted.org/packages/24/21/7d397a4b7934ff4028987914ac1044d3b7d52712f30e2ac7a2ae5bc86dd0/typing_extensions-4.8.0-py3-none-any.whl.metadata
  Downloading typing_extensions-4.8.0-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Obtaining dependency information for greenlet!=0.4.17 from https://files.pythonhosted.org/packages/a0/fb/3eeb54137cc4d01248babb62fd12c7a5faba36b13692ed622ea43fd4d648/greenlet-3.0.0-cp311-cp311-macosx_10_9_universal2.whl.metadata
  Downloading greenlet-3.0.0-cp311-cp311-macosx_10_9_universal2.whl.metadata (3.8 kB)
Downloading SQLAlchemy-2.0.22-cp311-cp311-macosx_10_9_x86_64.whl (2.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.1/2.1 MB 4.1 MB/s eta 0:00:0000:0100:01
Downloading greenlet-3.0.0-cp311-cp311-macosx_10_9_universal2.whl (262 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 262.9/262.9 kB 3.2 MB/s eta 0:00:00a 0:00:01
Downloading typing_extensions-4.8.0-py3-none-any.whl (31 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-3.0.0 sqlalchemy-2.0.22 typing-extensions-4.8.0

In [3]:
import pyodbc

print("wtf")
pyodbc.drivers()

wtf

['ODBC Driver 18 for SQL Server']

In [24]:
import pandas as pd
import pyodbc

# Create a Pandas DataFrame (replace this with your actual DataFrame)
data = {
    'Name': ['John', 'Jane', 'Bob'],
    'Age': [25, 30, 22],
    'City': ['New York', 'San Francisco', 'Seattle']
}
df = pd.DataFrame(data)

all_drivers = pyodbc.drivers()
driver = all_drivers[-1]
# SQL Server connection parameters
server = '192.168.1.7,1433'


database = 'master'
username = 'SA'
password = 'Passw0rd'
driver = '{' + driver + '}'

print(f'the driver is {driver}')


# Create a connection string
connection_string = f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password};TrustServerCertificate=yes;'
# connection_string = 'DRIVER={ODBC Driver 18 for SQL Server};SERVER=localhost,1433;DATABASE=master;UID=sa;PWD=Passw0rd'

print(f'connecting using: {connection_string}')
# Establish a connection
connection = pyodbc.connect(connection_string)

print("Connected!")

# Save DataFrame to SQL Server
table_name = 'your_table_name'
df.to_sql(table_name, connection, index=False, if_exists='replace')

# Close the connection
connection.close()

the driver is {ODBC Driver 18 for SQL Server}
connecting using: DRIVER={ODBC Driver 18 for SQL Server};SERVER=192.168.1.7,1433;DATABASE=master;UID=SA;PWD=Passw0rd;TrustServerCertificate=yes;
Connected!

/var/folders/s3/nw6d3bk511j4tmfr1xlspl_w0000gn/T/ipykernel_99065/3064413650.py:38: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(table_name, connection, index=False, if_exists='replace')

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': ('42S02', "[42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid object name 'sqlite_master'. (208) (SQLExecDirectW)")